
<div class="content" >
  <div class="list-area">
    <div class="list-header">
      <h1 class="list-headline"> Events</h1>
      <input class="text-search" ng-model="query" placeholder="Search"></input>
    </div>
    <ul class="event-list">
      <li class="list-item" ng-repeat="event in events |filter: query">
      <a class="list-link" href="#events/{{event.EventID}}">
        <h4 class="list-name">{{event.Name}}</h4>
        <h4 class="list-date">{{event.Date}}</h4>
        <p class="list-descr">{{event.Description}}</p>
      </a>
      </li>
    </ul>
  </div>
  <aside>
  </aside>
</div>