<div class="content" >
  <div class="list-area">
    <div class="list-header">
      <h1 class="list-headline"> Groups</h1>
      <input class="text-search" ng-model="query" placeholder="Search"></input>
    </div>
    <div>
      <ul class="group-list">
        <li class="big-list-item" ng-repeat="group in groups |filter: query">
          <a class="list-link" href="#/groups/{{group.ID}}">
            <h4 class="list-name">{{group.Name}}</h4>
            <p class="list-descr">{{group.Description}}</p>
          </a>
        </li>
        </a>
      </ul>
    </div>
  </div>
  <aside>
  </aside>
</div>